main, body, * {
  margin:0px;
  padding:0px;
}

#menu-deroulant,
#menu-deroulant ul {
    list-style: none;
}

#menu-deroulant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
    background-color: black;
    width:100vw;

}

#menu-deroulant li {
    display: inline-block;
    background-color: black;
    color: grey;
}

#menu-deroulant ul li {
    display: inherit;
    width: 113%;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
    color: whitesmoke;
    background-color: black;
}

#menu-deroulant a:hover {
    color: green;
}

#menu-deroulant ul {
    position: absolute;
    left: -999em;
    text-align: left;
    z-index: 1000;
    font-size: 3vh;
}

#menu-deroulant li:hover ul {
    left: auto;
}

body, main {
  margin:0px;
  padding:0px;
  background-color:#FEF5E7;
}

section#hwsign {
  background-image: url(../voyages/images/hw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  margin:0;
  padding:0;
  box-shadow: 0px 5px 10px 0px black;
  text-align: center;
  margin-bottom:10px;

}

section#cflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:#E7F0FE;
}

span#title {
  text-align: center;
  font-size:40px;
  color:#575A5F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:#E7F0FE;
  border-bottom: 4px solid #A93226;
}

section#cflex1 {
  border-right: 2px solid #A93226;
  width: 40%;
  border-bottom: 2px solid #A93226;
}

section#cflex1 img{
  width: 600px;
  height: 400px;
  align-self: center;
  margin-top:10px;
  margin-bottom:5px;
  margin-left:5px;
}

section#cflex2 {
  width: 60%;
  border-left: 2px solid #A93226;
  border-bottom: 2px solid #A93226;
}

p#cftext {
  font-size:40px;
  margin-left:40px;
  margin-right:40px;
  color:#575A5F;
}

section#imgs {
  text-align:center;
}

h2#himg {
  text-align:center;
  font-size:30px;
}

section#imgs img {
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px black;
}

section#imgs img#size {
  width: 1200px;
  height: 800px;
}

h2 {
  color:#575A5F;
  font-size:50px;
  text-decoration:underline;
}

section#imgs p {
  font-size:25px;
  color:#575A5F;
}

.footer1{
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: rgb(8, 8, 29);
}

.photo-team{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
}
#photo-team1{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: solid white 2px;
}
.right-footer{
    width: 35%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo-footer{
    width: 70px;
    height: 70px;
}
.titre-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 30px;
    width: 65%;
    height: 70px;
}
.text-footer{
    width: 50%;
    height: 130px;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 10px;
    align-items: center;
    padding-left: 10px;
}
p#para2-footer{
    margin: 0;
    padding: 3px;
}
.reseaux{
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#logo-reseaux{
    width: 50px;
    height: 50px;
}
